[accord-versement : ACCORD]
	SAE_Serveur				= http://test
	TransferIdPrefix   		= ACCORD_
	SAE_ProfilArchivage 	= RACINE/profils/profil_schema.rng
	TransferringAgencyId	= TransferringAgencyId
	TransferringAgencyName	= TransferringAgencyName
	TransferringAgencyDesc 	= TransferringAgencyDesc
	ArchivalAgencyId	= ArchivalAgencyId
	ArchivalAgencyName	= ArchivalAgencyName
	ArchivalAgencyDesc 	= ArchivalAgencyDesc

[generator : task1]
	trace        	= RACINE/traces/bordereaux.log
	accord   		= ACCORD
	data    		= RACINE/metier/liste-fichiers.txt
	rep_documents	= RACINE/documents
	baseURI			= http://test
	bordereau 		= RACINE/bordereaux/bordereau.xml
	